/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* BODY */

body{
margin:0;
font-family:'Poppins', sans-serif;

background:
linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;

color:white;
}

/* NAVBAR */

header{
display:flex;
justify-content:space-between;
align-items:center;

padding:20px 50px;

background:rgba(0,0,0,0.5);
backdrop-filter:blur(5px);
}

/* LOGO */

header h2{
font-size:26px;
font-weight:600;
}

/* NAV LINKS */

nav a{

margin-left:25px;
text-decoration:none;

color:white;

font-size:16px;
font-weight:500;

transition:0.3s;

}

nav a:hover{
color:#38bdf8;
}

/* MAIN SECTION */

section{

text-align:center;

padding:120px 20px;

}

/* TITLE */

section h1{

font-size:50px;
font-weight:600;

margin-bottom:10px;

}

/* TEXT */

section p{

font-size:20px;

margin-bottom:30px;

}

/* BUTTON */

button{

padding:14px 35px;

border:none;
border-radius:30px;

font-size:18px;

background:#38bdf8;
color:white;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#0284c7;

transform:scale(1.05);

}

/* INPUT FIELDS (LOGIN PAGE) */

input{

width:300px;

padding:12px;
margin:10px;

border:none;
border-radius:8px;

font-size:15px;

}